# Bases de Datos (MySQL)

In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\nelson\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="")
cur1=conexion1.cursor()
cur1.execute("SHOW databases")
for base in cur1:
    print(base)
conexion1.close()

('base1',)
('information_schema',)
('mysql',)
('nuevabase',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [5]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="")
cur1=conexion1.cursor()
cur1.execute("DROP DATABASE base1")
conexion1.close()

In [6]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="",database="nuevabase")
cur1=conexion1.cursor()
cur1.execute("SHOW TABLES")
print(cur1.fetchall())

[('articulos',)]

In [7]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="",database="nuevabase")
cur1=conexion1.cursor()
cur1.execute("SELECT * FROM articulos")
print(cur1.fetchall())
conexion1.close()

[(1, 'naranjas', 23.5), (2, 'peras', 34.0), (3, 'bananas', 25.0), (4, 'pan', 30.0)]

In [ ]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="",database="nuevabase")
cur1=conexion1.cursor()
cur1.execute("SELECT * FROM articulos")
print(cur1.fetchall())
conexion1.close()

In [8]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="",database="nuevabase")
cur1=conexion1.cursor()
cur1.execute("INSERT INTO articulos (descripcion,precio) VALUES ('pan',30)")
conexion1.commit()
conexion1.close()

In [9]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="",database="nuevabase")
cur1=conexion1.cursor()
cur1.execute("SELECT * FROM articulos")
print(cur1.fetchall())
conexion1.close()

[(1, 'naranjas', 23.5), (2, 'peras', 34.0), (3, 'bananas', 25.0), (4, 'pan', 30.0), (5, 'pan', 30.0)]

In [1]:
conexion1=mysql.connector.connect(host="localhost", user="root", passwd="",database="nuevabase")
try:
    cursor1=conexion1.cursor()
    cursor1.execute("""CREATE TABLE articulos2(
Id INT PRIMARY KEY AUTOINCREMENT,
Nombre VARCHAR,
Cantidad INT,
);""")
except mysql.connector.OperationalError:
    print("Error al crear Base de datos")
conexion1.close()

NameError: name 'mysql' is not defined