# Bases de Datos (SQLITE)

In [2]:
import sqlite3

In [4]:
conexion1=sqlite3.connect("bas2.db")
try:
    cursor1=conexion1.cursor()
    cursor1.execute("""CREATE TABLE articulos1(
Id INTEGER PRIMARY KEY AUTOINCREMENT,
Nombre TEXT,
Valor INTEGER,
Descripcion TEXT);""")
except sqlite3.OperationalError:
    print("Error al crear Base de datos")
conexion1.close()

In [14]:
conexion1=sqlite3.connect("bas2.db")
cursor1=conexion1.cursor()
cursor1.execute("SELECT * FROM articulos1;")
"""for fila in cursor1:
     print(fila)"""
conexion1.close()

In [7]:
conexion1=sqlite3.connect("bas2.db")
cursor1=conexion1.cursor()
cursor1.execute("INSERT INTO articulos1 (nombre,valor) VALUES ('naranjas', 25);")
conexion1.commit()
conexion1.close()

In [13]:
conexion1=sqlite3.connect("bas2.db")
cursor1=conexion1.cursor()
cursor1.execute("SELECT * FROM articulos1;")
res=cursor1.fetchall()
#print(res)
conexion1.close()

In [10]:
conexion1=sqlite3.connect("bas2.db")
cursor1=conexion1.cursor()
cursor1.execute("INSERT INTO articulos1 (nombre,valor,descripcion) VALUES ('peras', 30,'bien');")
conexion1.commit()
conexion1.close()

In [12]:
conexion1=sqlite3.connect("bas2.db")
cursor1=conexion1.cursor()
cursor1.execute("SELECT * FROM articulos1;")
res=cursor1.fetchall()
#print(res)
conexion1.close()

In [12]:
conexion1=sqlite3.connect("bas2.db")
cursor1=conexion1.cursor()
cursor1.execute("DELETE FROM articulos1 WHERE Id=2;")
conexion1.commit()
conexion1.close()

In [11]:
conexion1=sqlite3.connect("bas2.db")
cursor1=conexion1.cursor()
cursor1.execute("SELECT * FROM articulos1;")
res=cursor1.fetchall()
#print(res)
conexion1.close()

In [3]:
conexion1=sqlite3.connect("bas1.db")
cursor1=conexion1.cursor()
cursor1.execute("SELECT * FROM articulos1;")
""""for fila in cursor1:
     print('nombre: ',fila[0])
     print('valor: ',fila[1])   
     print('descripcion: ',fila[2],"\n") """
conexion1.close()

In [4]:
conexion2=sqlite3.connect("bas1.db")
cursor2=conexion2.cursor()
cursor2.execute("SELECT * FROM articulos1;")
"""for fila in cursor2:
     print(fila)"""
conexion2.close()

In [9]:
conexion1=sqlite3.connect("bas1.db")
cursor1=conexion1.cursor()
cursor1.execute("DELETE FROM articulos1 WHERE Id=4;")
conexion1.commit()
conexion1.close()

In [5]:
conexion2=sqlite3.connect("bas1.db")
cursor2=conexion2.cursor()
cursor2.execute("SELECT * FROM articulos1;")
que1=cursor2.fetchone()
"""for fila in que1:
     print(fila)"""
conexion2.close()

In [10]:
conexion2=sqlite3.connect("bas1.db")
cursor2=conexion2.cursor()
cursor2.execute("SELECT * FROM articulos1;")
que1=cursor2.fetchmany(3)
"""for fila in que1:
     print(fila)"""
conexion2.close()

In [9]:
conexion2=sqlite3.connect("bas1.db")
cursor2=conexion2.cursor()
cursor2.execute("SELECT * FROM articulos1;")
que1=cursor2.fetchone()
#print(que1)
conexion2.close()

In [8]:
conexion2=sqlite3.connect("bas1.db")
cursor2=conexion2.cursor()
cursor2.execute("SELECT * FROM articulos1;")
que1=cursor2.fetchmany(3)
#print(que1)
conexion2.close()

In [15]:
conexion2=sqlite3.connect("bas1.db")
cursor2=conexion2.cursor()
cursor2.execute("SELECT * FROM articulos1;")
#cursor2.fetchone()
#print(cursor2.fetchone())
#print(cursor2.fetchone())
#print(cursor2.fetchone())

In [4]:
conexion1=sqlite3.connect("bas1.db")
cursor1=conexion1.cursor()
list1=[("pomelo",38,"b"),("papa",50,"r")]
cursor1.executemany("INSERT INTO articulos1 (nombre,valor,descripcion) VALUES (?,?,?);",list1)
conexion1.commit()
conexion1.close()

In [6]:
conexion2=sqlite3.connect("bas1.db")
cursor2=conexion2.cursor()
cursor2.execute("SELECT * FROM articulos1;")
#print(cursor2.fetchall())