# Tuples
### Operadores

In [1]:
fruits = ("apple", 3, "cherry")
frui = ("apple", "banana", "cherry")
a=fruits+frui
print(a)

('apple', 3, 'cherry', 'apple', 'banana', 'cherry')

In [2]:
frui = ("apple", "banana", "cherry")
b=fruits*3
print(b)

('apple', 3, 'cherry', 'apple', 3, 'cherry', 'apple', 3, 'cherry')

In [3]:
c="apple" in frui
print(c)

True

In [4]:
d="apple" not in frui
print(d)

False

### Funciones de Python en Tuplas

In [5]:
frui = ("apple", "banana", "cherry")
e=min(frui)
print(e)

apple

In [6]:
f=len(frui)
print(f)

3

### Keyword en Tuplas

In [8]:
frui = ("apple", "banana", "cherry")
del frui

In [18]:
frui = ("apple", "banana", "cherry")
a=list(frui)
print(a)
b=a.pop(1)
print(b)
print(a)
k=tuple(a)
print(k)

['apple', 'banana', 'cherry']
banana
['apple', 'cherry']
('apple', 'cherry')

### Métodos de Tuplas

In [19]:
fru = ("apple", "cherry", "banana","banana",5,5)
g=fru.count("banana")
print(g)

2

In [20]:
fru = ("apple", "cherry", "banana")
j=fru.index("banana")
print(j)

2

### Indexación, Slicing

In [21]:
fut = ("apple", "cherry", "banana","naranja", "pera","uva")
k=fut[2]
print(k)

banana

In [28]:
l=fut[:3]
print(l)

('apple', 'cherry', 'banana')

In [23]:
m=fut[1:5:3]
print(m)

('cherry', 'pera')

In [30]:
n=fut[-2:-5]
print(n)

()

### Condicionales en Tuplas

In [24]:
fru = ("apple", "cherry", "banana")
if "apple" in fru:
    print("Si")

In [31]:
fru = ("apple", "cherry", "banana")
for x in fru:
    print(x)

apple
cherry
banana

In [32]:
for i in range(len(fru)):
     print(fru[i])

apple
cherry
banana

In [94]:
fru = ("apple", "banana", "cherry")
i = 0
while i < len(fru):
    print(fru[i])
    i = i + 1

### Unpacked

In [34]:
fru = ("apple", "cherry", "banana")
(x,y,z)=fru
print(x)

apple

In [36]:
fruti = ("apple", "cherry", "banana","naranja","pera")
(w,t,*p)=fruti
print(*p)

banana naranja pera